* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes float {
    60% {
        transform: translateY(7px);
    }
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1400px; 
    position: relative;
    margin: 0 auto; 
}

.logo-part {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1; 
}

.hack-logo {
    max-width: 50vw;
    height: auto;
}

.mascot-container {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 
    margin: 0 -15px;
}

.mascot-wrapper {
    transform: scale(1.25);
    transition: transform 0.3s ease;
}

.mascot-img {
    height: clamp(60px, 12vw, 180px);
    animation: float 3s ease-out infinite;
    transition: transform 0.3s ease;
}

@media only screen and (min-width: 1200px) {
    .hack-logo {
        max-width: 30vw; 
    }
    .mascot-img {
        height: 250px; 
    }
    .mascot-container {
        margin: 0 -25px; 
    }
    .logo-part:first-child { 
        margin-right: 25px; 
    }
    .logo-part:last-child { 
        margin-left: -25px; 
    }
}

@media only screen and (max-width: 1199px) and (min-width: 700px) {
    .hack-logo {
        max-width: 35vw;
    }
    .mascot-img {
        height: 180px;
    }
    .mascot-container {
        margin: 0 -18px;
    }
    .logo-part:first-child {
        margin-right: 18px;
    }
    .logo-part:last-child {
        margin-left: -18px;
    }
}

@media only screen and (max-width: 699px) {
    .hack-logo {
        max-width: 40vw;
    }
    .mascot-img {
        height: 85px;
    }
    .mascot-container {
        margin: 0 -12px;
    }
    .logo-part:first-child {
        margin-right: 12px;
    }
    .logo-part:last-child {
        margin-left: -12px;
    }
    .mascot-img {
        animation: none; 
    }
}

@media only screen and (min-width: 701px) {
    .register-button {
        padding-left: 10%;
    }
}

@media only screen and (max-width: 700px) {
    .register-button {
        padding-left: 24%;
    }
}